{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<section>
    <h1>Create an account</h1>
    <form method="post" action="{{ url_for('app.register') }}">
        <p>
            <label for="username">Username</label>
        </p>
        <p>
            <input id="username" name="username" type="text" required>
        </p>

        <p>
            <label for="password">Password</label>
        </p>
        <p>
            <input id="password" name="password" type="password" required>
        </p>

        <p>
            <button type="submit">Register</button>
            <a href="{{ url_for('app.login') }}">Go to login</a>
        </p>
    </form>
</section>
{% endblock %}
